.idea
*.sw*
.project
.pydevproject
.vscode
.settings
*~
.#*
\#*
*.pyc
cover
nosetests.xml
.coverage
*.orig
.ropeproject
.DS_Store
.python-version
*tags*
*.log

local_*.*
!local_*.tpl.*
venv/
.venv/
.venv
log/
backup/
fixtures/
mysql/
docker-hbase
